.idea
data
capsulevision
*.ipynb_checkpoints
configs/local.yaml


/wandb/
checkpoints
outputs
weights
vissl/
apex/
__pycache__

venv/
.DS_Store
lightning_logs

logs

# data
test_set
train_and_validation_sets
cross_val_folds

*.pth
*.ckpt
*.torch
*.png
*.jpg
**.bmp
