.idea
data
capsulevision
*.ipynb_checkpoints


/wandb/
checkpoints
outputs
weights
vissl/
apex/
__pycache__
venv/
.DS_Store
lightning_logs

# data
test_set
train_and_validation_sets
cross_val_folds

datasets
*.pth
*.ckpt
*.torch
*.png
*.jpg
**.bmp
